@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;      
    min-height: 100vh;
    /*background-color: #2c3e50;*/
    background : url('../assets/fonds/fond3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;           
}




.login-form {
    width: 500px;
    height: 450;
    font-family: "Pixelify Sans";
    /*background-color: rgba(255, 192, 203, 0.9  ); */
    border: 2px solid rgba(255, 255, 255, .2);
    background-color: rgba(255, 192, 203, 0.4);
    backdrop-filter: blur(8px);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 7px;
}

.login-form h1 {
    color: #fff ;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(197, 50, 241);
    font-size: 80px;

}

.boutton {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
}

.boutton:hover {
    background-color: rgba(135, 46, 203, 0.5);
    cursor: pointer;
    color: #fff;
}


.Tout_boutton2 {
    position: relative; 
    width: 100%;
}

.boutton2 {
    width: 100%;
    height: 45px;
    background-color: rgb(255, 191, 202);
    backdrop-filter: blur(7px);
    background: transparent; 
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    color: #fff;
    border-radius: 40px;
    padding-left: 20px;   
    padding-right: 45px;
}
.boutton2::placeholder {
    color : #fff;
}
.compte:hover {
    color: rgba(128, 0, 128, 0.5);
    cursor: pointer;
}